
/* Made by Marlon Macklin on //23*/
*/

/*css reset*/
body, header, nav, main, footer, h1, div, img, ul{
	margin: 150;
	padding: 10;
	border: 100;
}
body{
color:#fff;
}
body{
	animation: color-change 5s infinite;}

	@keyframes color-change {
		20% { background-color: black; }
		40% { background-color: rgb(146, 13, 40); }
		60% { background-color: rgba(77, 1, 77, 0.986); }
		80%{ background-color: rgba(0, 128, 0, 0.747); }
		100%{ background-color: rgba(128, 128, 128, 0.507); }
}
img{
	max-width: 100%;
	display: block;
}
/* Style rules for mobile viewport */
head{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	height: 150px;
	block-size: 2%;
}
head img{
	margin: 5;
}
 a{
	color: #660;
	font-size: big;
	display:inline-block;
}
nav{
	padding: 2%;
	margin-bottom: 1%;
	text-align: center;
}
main{
	background-color: #600;
	padding: 2%;
	font-size: 1.25em;
	font-family: 'Roboto Slab', serif;
}
body ul a{
	text-align: left;
	background-color: #600;
}
body li{
	text-decoration: none;
	font-size: 1.5em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 17%;
}
header h1{
	background-color: #600;
	font-size: 2.5em;
	border-style: bold;
}
header{
	font-size: 1.35em;
	color: #fff;
	font-weight: bold;
}
.external-link{
	text-decoration: none;
	color: #660;
	font-weight: bold;
}
#weights, #cardio, #training{
	margin: 0 2%;
}
.round{
	border-radius: 8px;
}
#contact{
	text-align: center;
}
#contact .contact-email-link{
	text-decoration: none;
	color: #660; /*666600*/
}
nav ul {
	margin-left: auto;
	margin-right: auto;
	width: 17%;
}
nav li{
	font-size: 1.5em;
	font-family: sans-serif, 'Francois-one';
	border-top: 1px solid black;
}
nav li a{
	display: block;
	color: black;
	padding: .5em 1em;
	text-decoration: none;
}
/*show mobile class, hide table-desktop class*/
.mobile{
	display: block;
}
.table-desktop{
	display: none;
}

footer p{
	font-size: .75em;
	text-align: center;
	color: #fff;
	padding: 0 1em;
}
footer p a{
	color: #fff;
	text-decoration: none;
}